name: Run Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: testdb
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-django pytest-cov factory_boy
      - name: Run Tests
        run: |
          pytest --junitxml=pytest-logs/results.xml --cov=. --cov-report=xml --cov-report=term-missing --cov-fail-under=85
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: testdb
          DB_USER: user
          DB_PASSWORD: password
      - name: Upload test logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: pytest-logs
          path: pytest-logs
      - name: Upload coverage report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml